.firstSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
  background-image: url(/images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  margin-right: 50px;
  h1{
    font-size: 50px;
    margin-bottom: 10px;
    color: #441C43;
  }
  p{
    font-size: 18px;
    color: #999;
    font-weight: 500;
  }
  .raiting{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 5px;
    background-color: #F7F2F8;
    padding: 7px 50px;
    border-radius: 10px;
    .stars{
      margin-right: 20px;
    }
    .text-rated{
      color: #441C43;
    }
  }
}
.secondR{
  margin-left: 40px;
  margin-right: -40px;
}
.thirdR{
  margin-left: 80px;
  margin-right: -80px;
}

@media (max-width: 375px) {
    .firstSection{
      width: 95%;
      margin-top: 20px;
      h1{
        text-align: center;
        font-size: 35px;
        margin-bottom: 25px;
      }
      p{
        font-size: 15px;
        text-align: center;
        line-height: 1.5;
      }
    }
    .raitings{
      margin-left: 8px;
    }
  .raiting{
    flex-direction: column;
    gap: 5px;
    .stars{
      margin-top: 10px;
      margin-bottom: -5px;
    }
    .text-rated{
      text-align: center;
    }
    .text-rated:nth-child(2){
      font-size: 12.5px;
    }
  }
  .secondR{
    margin: 0;
  }
  .thirdR{
    margin: 0;
  }
}

